@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: #f3efe2;
  overflow-x: hidden;
  cursor: none;
}

@font-face {
  font-family: "Goldfish";
  src: url("/public/Fonts/Goldfish.ttf") format("truetype");
}

.goldfish {
  font-family: "Goldfish", "serif";
}
